* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  height: 100vh;
}

.container {
  background-image: linear-gradient(
    to bottom right,
    rgb(243, 14, 140),
    rgb(231, 202, 217)
  );
  margin: 4rem;
  max-width: 600px;
  padding: 3rem;
  border-radius: 1rem;
}

.header {
  text-align: center;
  margin: 1rem;
  
}


